.claude
.git
.github
.vscode
.yarn
.env*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.next/
**/.next/
.turbo/
**/.turbo/

architecture
CLAUDE.md
cli
desktop
docs
infra
mobile
node_modules
**/node_modules/**
rust/target/
rust/**/target/
server
web/apps/{ensu,locker,payments,twoof3}
web/packages/wasm/pkg/
web/packages/wasm/target/
Dockerfile
Tiltfile
server/Dockerfile
